.sort-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    background-color: #f2f2f2;
    padding-top: 12px;
    border-radius: 30px;
    width: 12%;
    margin: 18px;
    cursor: pointer;
}